<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <div class="button_single">

                    <a id="bookmarkme" href="#" rel="sidebar" title="bookmark this page">Bookmark This Page</a>

                </div>
            </li>
        </ul>
    </div>
    <!--<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <div class="button_single">
                <button id="btn_toolbar_upload" type="button" class="btn btn-success btn-lg" (click)="onClickUpload()">
                    <fa-icon [icon]="icon_upload" size="2x"></fa-icon>
                    Upload
                </button>
            </div>
        </li>
        <li class="nav-item"> 
            <div class="button_single">
                <button id="btn_toolbar_reorder" type="button" class="btn btn-success btn-lg" (click)="onClickReorder()">
                    <fa-icon [icon]="icon_reorder" size="2x"></fa-icon>
                    Reorder
                </button>
            </div>
        </li>
        <li class="nav-item">
            <div class="button_single">
                <button id="btn_toolbar_view" type="button" class="btn btn-success btn-lg" (click)="onClickView()">
                    <fa-icon [icon]="icon_view" size="2x"></fa-icon>
                    View
                </button>
            </div>
        </li>
        <li class="nav-item">
            <div class="button_single">
                <button id="btn_toolbar_srv" type="button" class="btn btn-success btn-lg" (click)="onClickView()">
                    <fa-icon [icon]="icon_config" size="2x"></fa-icon>
                    Config
                </button>
            </div>
        </li>
      </ul>
    </div> -->


    <div id="logo" class="toolbar" role="banner">
        <div class="logo">
            <fa-icon [icon]="camera_retro" size="2x"></fa-icon>
        </div>
        <div class="spacer"></div>
        <span class="animate__animated animate__rubberBand">Reorder Photo Client</span>
        <div class="spacer"></div>
    </div>

</nav>