<div id="upload">
    <h3 class="text-center text-white pt-5"></h3>
    <div class="container">

        <div id="upload_row" class="row justify-content-center align-items-center">

            <div id="upload_column" class="col-md-12">
                <div id="upload_box" class="col-md-12">

                    <h3 class="text-center text-info">Please select one or more file</h3>
                    <div class="spacer_50"></div>
                    <div class="form-group">
                        <input id="selector_multiple" class="btn btn-lg" type="file" multiple
                            (change)="selectFiles($event)" />
                    </div>
                    <div class="form-group">
                        <button id="btn_upload" class="btn btn-success btn-lg" [disabled]="!selected_files"
                            (click)="uploadFiles()">
                            Upload Photo and Video
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input id="send_difference" class="form-check-input" type="checkbox" value="" checked>
                            <label class="form-check-label" for="send_difference">
                                Skip if already exists
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="progress" style="height: 30px;">
                            <div id="prog" class="{{ prog_class }}" role="progressbar"
                                attr.aria-valuenow="{{ prog_value }}" [ngStyle]="{ width: prog_value + '%' }"
                                aria-valuemin="0" aria-valuemax="100">

                                {{ prog_value_txt }}

                            </div>
                        </div>

                    </div>
                    <div id="upload_name_file" class="text-right ellipse">
                        {{ current_name }}
                    </div>
                    <div id="message" class="text-center">
                        {{ message }}
                    </div>
                    <div class="spacer_50"></div>
                </div>
            </div>
        </div>
    </div>
</div>