<div class="actions">
    <app-actions-component></app-actions-component>
</div>
<div class="center">

    <div class="jumbotron text-left center_cpm">

        <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header bg-accordion" id="headingOne">
                        <h5 class="mb-0">
                            <button id="btn_toolbar_upload" class="btn btn-success btn-lg" data-toggle="collapse"
                                data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                <fa-icon [icon]="icon_upload" size="2x"></fa-icon>
                                Upload
                            </button>
                        </h5>
                    </div>

                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <app-upload-component></app-upload-component>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-accordion" id="headingTwo">
                        <h5 class="mb-0">
                            <button id="btn_toolbar_reorder" class="btn btn-success btn-lg" data-toggle="collapse"
                                data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                <fa-icon [icon]="icon_reorder" size="2x"></fa-icon>
                                Reorder
                            </button>
                        </h5>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <app-reorder-component></app-reorder-component>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-accordion" id="headingThree">
                        <h5 class="mb-0">
                            <button id="btn_toolbar_config" class="btn btn-success btn-lg" data-toggle="collapse"
                                data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                                <fa-icon [icon]="icon_config" size="2x"></fa-icon>
                                Config
                            </button>
                        </h5>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <app-view-component></app-view-component>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>